@import "../../vars.css";

.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 49px;
  z-index: 1;
  margin-left: 10%;
  margin-right: 10%;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--color-text);
  z-index: 1;
}

.title {
  font-size: 72px;
  font-weight: 900;
  margin-bottom: 33px;
  font-family: var(--font-roboto);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 70%,
    rgba(255, 255, 255, 0) 120%
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}

.description {
  font-size: 30px;
  font-family: var(--font-roboto);
  margin-bottom: 52px;
}

.contactBtn {
  text-decoration: none;
  background-color: var(--color-primary);
  color: var(--color-text);
  border-radius: 100px;
  font-size: 30px;
  font-weight: 600;
  padding: 17px 26px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.heroImg {
  width: 40%;
  z-index: 1;

  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modalContent {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  position: relative;
  width: 80%;
  max-width: 500px;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.skillsSection {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid #ddd;
  border-radius: 8px;
  text-align: center;
}

.skillsImg {
  margin-top: 10px;
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
}

@keyframes floating {
  0% {
    transform: translate(0, 0px);
  }
  50% {
    transform: translate(0, 10px);
  }
  100% {
    transform: translate(0, -0px);
  }
}

.topBlur {
  position: absolute;
  width: 50vw;
  height: 50vw;
  min-width: 350px;
  min-width: 350px;
  top: -128px;
  left: -10vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

.bottomBlur {
  position: absolute;
  width: 70vw;
  height: 50vw;
  min-width: 350px;
  min-width: 250px;
  top: 246px;
  right: -25vw;
  border-radius: 764px;
  background: rgba(25, 55, 109, 0.7);
  filter: blur(100px);
  z-index: 0;
}

@media screen and (max-width: 830px) {
  .container {
    flex-direction: column-reverse;
  }

  .content {
    align-items: center;
  }
  .title {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .description {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .contactBtn {
    font-size: 16px;
    padding: 10px 16px;
  }
}
